body {
    background: url(snow.jpg);

}

.h1{
    text-align:center; 
    font-size: 40px;
    font-style: normal;
    font-family: 'Georgia', sans-serif;
    font-variant: small-caps;
}

.h2{
    align-content: center;
    align-items: center; 
}

.h3 { 
    align-content: center;
    color: white;
    font-size: 20px;
}

.h5{
    text-align: left;
    font-family: 'Georgia', sans-serif;
    color: black;
    font-size: 30px;
    font-variant: small-caps;
    
}

.p {
    align-content: left;
    text-align: left; 
    color: white;
    font-weight: lighter;  
}

.centered{
    align-content: center;
    text-align: center; 
    left: 50%;
    right: 50%;
    align-content: left 50px; 
}

.description-container{
    margin-top: 20em;
}

.name {
    clear: both;
}

.profile {
    float: left;
    margin-right: 10px;
}

.description {
    text-align-last: center;
    margin: 0px 10px 0px 10px;
    justify-content: center;
    position: relative;
}


<div class="container-lg">100% wide until large breakpoint</div> 

/* @media screen and (max-width: 900px)
    
    } */
/* div  {
    height: 1200px; 
    width: 900px;
} */
    
    