body {
    background: url(snow.jpg);

}

.h1{
    text-align:center; 
    font-size: 40px;
    font-style: normal;
    font-family: 'Georgia', sans-serif;
    font-variant: small-caps;
}

.h2{
    align-content: center;
    align-items: center; 
}

.h3 { 
    align-content: center;
    color: white;
    font-size: 20px;
}

.h4 {font-size: 12px;
    font-style: normal;
    font-family: 'Georgia', sans-serif;
    font-variant: small-caps;
    color:black
}

.h5{
    text-align: left;
    font-family: 'Georgia', sans-serif;
    color: black;
    font-size: 30px;
    font-variant: small-caps;
    
}

h6 { align-content:right; 
    align-items: right;
    padding: 5px 5px 5px 5px;
    image-orientation: 
}

h7 {text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: 'Georgia', sans-serif;
    font-variant: small-caps;
    }

.p {
    align-content: left;
    text-align: left; 
    color: white;
    font-weight: lighter;  
}

.p5 {
    align-content: left;
    text-align: left; 
    color: black;
    font-weight: lighter;  
}

.centered{
    align-content: center;
    text-align: center; 
    left: 50%;
    right: 50%;
    align-content: left 50px; 
}

.description-container{
    margin-top: 20em;
}

.name {
    clear: both;
}

.profile {
    float: left;
    margin-right: 10px;
}

.description {
    text-align-last: center;
    margin: 0px 10px 0px 10px;
    justify-content: center;
    position: relative;
}

article {
    width:800px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 200px;
    align-content: right;
    text-align: left;
  background-color: white;
  background-repeat: no-repeat;
    border: 20px;
   border-style: solid; 
    border-color: white; 
    font-family: 'Georgia', sans-serif;
    
}

<div class="container-lg">100% wide until large breakpoint</div> 
{
  box-sizing: scale;
}
.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 10px;
}
.row, after:"https://open.spotify.com/embed/playlist/2CRJLrR0OGXZxZ8EsNf9bB","https://open.spotify.com/embed/playlist/672rCfFIbN85JdMbGvuTKE","https://open.spotify.com/embed/playlist/6KEbkVaoRj1Ia5SKn9yZy1", "https://open.spotify.com/embed/playlist/4vyQN1nZdtx9uYOGcfAXFo"; 
  display: table-row;
  clear: both;
}
}
.column {
  float: left;
  width: 10%;
}
.content {
  background-color: white;
  padding: 10px;
}


